body {
    margin: 0;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color:azure;
    }

    /* Navbar styling begins */
    .logo {
        color: white;
        text-align: left;
        font-size: 35px;
        position: absolute;
        height:auto;
        left: 0px;
        width:auto;
        }

    .navbar ul{
        list-style: none;
        background: rgb(37, 37, 70);
        padding: 0;
        margin: 0;
        text-align: right;
       }
    
    .navbar li{
        display: inline-block;
    }
    .navbar a{
        text-decoration: none;
        color: azure;
        width: 100px;
        display: block;
        padding: 25px 20px;
        font-weight: bold;
        text-align: center;
    }
    .navbar a:hover{
        background: crimson;
    } 
    /* Navbar styling ends */

    .hero-banner img {
        width: 350px;
        padding-left: 40%;
    }

    /* #hero-banner {
        
    } */
/* h1 element */
h1 {
    color: rgb(42, 39, 39);
    background: azure;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 20px 0px; 
  }
  
  
  /* h2 element */
  h2 {
    /* border-bottom: 5px solid var(--primary-text-color); */
    padding-right: 20px;
    padding-bottom: 10px;
  }


    .flex-container  {
        display: flex;
        flex-direction: row;
        background: azure;
        justify-content:space-between;
      }
    
    .left-text{
        flex-basis: 17%;  
        background-color: azure;
        background-repeat: no-repeat; 
        margin: 20px 0px 0px 120px;
        padding: 0 100px 0 0;
        color: rgb(42, 39, 39);
      }
      
      
      .right-text{
        flex-basis: 83%;  
        color: rgb rgb(42, 39, 39);
        background-color: azure;
        font-size: 17px;
      }


      /* Project images */

      .work {
        background-size: cover;
        background-position: center;
        background-repeat:no-repeat;
        height: 300px;
        width: 600px;
        display: flex;
        align-items: flex-end;
      }

      .work-1 {
        background-image: url("../assets/images/10871\ 60.jpg");
      }

      .work-2 {
        background-image: url("../assets/images/\ Mockup\ apple\ 50.jpg");
      }

      .work-3 {
        background-image: url("../assets/images/bg\ pink.jpg");
      }

      .project {
        flex-basis: 40%;
        margin:5px;
      }

